body {
  font-family: 'Trebuchet MS', sans-serif;
  }
.rootdiv{
  max-height: 50%;
  max-width: 50%;
  margin: auto;
  background-color: #FFFAFA;
  box-shadow: 15px 15px 30px #bebebe,
  -15px -15px 30px #e5e4e2;
  border-radius: 3%;
  padding: 25px 15px;
  margin-top: 5vh;
}
.social-menu{
  text-align: center;
}
.photo{
  height: 40%;
  width: 50%;
  border-radius: 50%;
  margin-left: 25%;
}
.name{
  font-size:xx-large;
}
.heading{
  font-size: larger;
}
.logo{
  max-width: 10%;
  max-height: 15%;
}

